<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=\, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    hello
    <div>
      <img
        class="picture_1"
        src="/static/images/EVALUATEpng.png"
        alt="evaluate"
      />
    </div>
  </body>
</html>
